<%= render partial: 'issues', locals: {
    issues:  @assigned_issues,
    message: l_mail_body_reminder_assigned(@assigned_issues.size, @days) } %>

<%= render partial: 'issues', locals: {
    issues:  @auth_issues,
    message: l_mail_body_reminder_auth(@auth_issues.size, @days) } %>

<%= render partial: 'issues', locals: {
    issues:  @watched_issues,
    message: l_mail_body_reminder_watched(@watched_issues.size, @days) } %>

<%= render partial: 'issues', locals: {
    issues:  @custom_user_issues,
    message: l_mail_body_reminder_custom_user(@custom_user_issues.size, @days) } %>

<%= render partial: 'issues', locals: {
    issues:  @without_due_day,
    message: l(:mail_body_reminder_assigned_set, @assigned_issues.size) } %>

<p><%= link_to l(:label_issue_view_all), @issues_url %></p>
